# VITE_APP_ENV should be blank (nothing beyond the equal sign) for Development; for production, VITE_APP_ENV=live
VITE_APP_ENV=

VITE_APP_NAME=your_app_name
VITE_SENTRY_DSN=your_sentry_dsn_here
VITE_POSTHOG_KEY=your_posthog_key_here
VITE_SUPABASE_URL=your_supabase_live_url_here
VITE_SUPABASE_ANON_KEY=your_supabase_live_anon_key_here
VITE_SUPABASE_URL_TEST=your_supabase_test_url_here
VITE_SUPABASE_ANON_KEY_TEST=your_supabase_test_anon_key_here
BASE_URL=/