/*
.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}

.money.plus {
  color: #2ecc71;
}

.money.minus {
  color: #c0392b;
}
 */
/* Remove spinners from number inputs */
input[type="number"] {
  appearance: textfield;      /* Standard property */
  -moz-appearance: textfield; /* Firefox */
}

/* Remove Chrome, Safari, Edge spinners */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
